# Copyright © 2017–2019 University of Malta

# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved. This file is offered as-is,
# without any warranty.

before_script:
  - getconf LONG_BIT
  - apt-get -y update
  - apt-get -y install diffutils gcc make m4
  - rustup --version
  - rustup install beta-$TARGET 1.13.0-$TARGET
  - rustup component add --toolchain beta-$TARGET rustfmt clippy
  - if [ -d cargo/registry/cache ]; then rm -rf $CARGO_HOME/registry/cache; mkdir -p $CARGO_HOME/registry; cp -R cargo/registry/cache $CARGO_HOME/registry/; echo Copied registry/cache; fi
  - if [ -d $CARGO_HOME/registry/cache ]; then (cd $CARGO_HOME/registry; find cache -name \*.crate) fi

after_script:
  - if [ -d $CARGO_HOME/registry/cache ]; then (cd $CARGO_HOME/registry; find cache -name \*.crate) fi
  - rm -rf cargo
  - mkdir -p cargo/registry
  - if [ -d $CARGO_HOME/registry/cache ]; then cp -R $CARGO_HOME/registry/cache cargo/registry/; echo Updated registry/cache; fi

x86_64-gnulinux:
  image: amd64/rust:slim
  variables:
    TARGET: x86_64
  cache:
    key: $CI_JOB_NAME
    paths:
    - cargo/
  script:
  - cargo +beta-$TARGET test --features "fail-on-warnings ctest"
  - cargo +beta-$TARGET test --release --features fail-on-warnings
  - cargo +beta-$TARGET fmt -- --check
  - cargo +beta-$TARGET clippy --all-targets --features fail-on-warnings
  - cargo +1.13.0-$TARGET test --features fail-on-warnings
  - cargo +1.13.0-$TARGET test --release --features fail-on-warnings
  except:
  - www

i686-gnulinux:
  image: i386/rust:slim
  variables:
    TARGET: i686
  cache:
    key: $CI_JOB_NAME
    paths:
    - cargo/
  script:
  - cargo +beta-$TARGET test --features "fail-on-warnings ctest"
  - cargo +beta-$TARGET test --release --features fail-on-warnings
  - cargo +beta-$TARGET fmt -- --check
  - cargo +beta-$TARGET clippy --all-targets --features fail-on-warnings
  - cargo +1.13.0-$TARGET test --features fail-on-warnings
  - cargo +1.13.0-$TARGET test --release --features fail-on-warnings
  except:
  - www

pages:
  image: alpine:latest
  before_script:
  - "true"
  script:
  - "true"
  after_script:
  - "true"
  artifacts:
    paths:
    - public
  only:
  - www
